  @import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

/* NAV BAR */

nav {
   background-color: #242424;
   color: #fff;
   height: 80px;
   display: flex;
   padding: 0 24px;
   margin: 0 auto;
}

.nav__container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    transform: scale(2);
    margin-left: 64px;
}

.logo__title {
    margin-left: 8px;
}

ul {
    display: flex;
    list-style-type: none;
}

li {
    list-style-type: none;
    z-index: 1;
}

.nav__link {
    margin-left: 16px;
    padding: 8px;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
}

.nav__link:hover {
    text-decoration: underline;
    cursor: pointer;
    z-index: 1;
}

.nav__link--primary {
    border-radius: 40px;
    background-color: #fff;
    color: #242424;
    z-index: 1;
}

.nav__link--primary:hover {
    background-color: #838282;
    cursor: pointer;
}

.btn__menu {
    background-color: transparent;
    font-size: 40px;
    text-align: center;
    color: #fff;
    display: none;
    border: none;
    z-index: 1;
}

.fa-film {
    font-weight: bold;
    z-index: 2;
    border: none;
}

.menu__backdrop {
    position: absolute;
    background-color: #242424;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 300ms ease;
    opacity: 0;
    visibility: hidden;
}

.menu--open .menu__backdrop {
    display: flex;
    visibility: visible;
    opacity: 1;
}

.btn__menu--close {
    position: absolute;
    right: 20px;
    top: 10px;
    color: #fff;
    padding: 8px;
}

.fa-xmark {
    font-weight: bold;
}

.menu__links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu__link {
    font-size: 40px;
    color: #fff;
}

.menu__list {
    padding: 32px 0;
}

/* HEADER */


header {
    background-color: #242424;
    color: #fff;
}

.header__title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 16px;
}

.input__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 8px;
}

input {
    border-radius: 16px;
    border-color: #fff;
    background-color: #fff;
    color: #242424;
    width: 90%;
    max-width: 1000px;
    height: 50px;
    z-index: 1;
    cursor: text;
}

.input__img {
    transform: translateX(-56px) scale(1.5);
    background-color: #fff;
    color: #242424;
    cursor: pointer;
    z-index: 1;
}

.input__img:hover {
    color: #514e6c;
}

.marvel__logo {
    z-index: -1;
    opacity: 0.1;
    transform: scaleX(5) translateY(-100px) translateX(80px) scaleY(2);
    transition: all 300ms ease;
    filter: invert();
}

/* LANDING */

#landing {
    background-color: #838282;
}

.search__results {
    margin: 0 auto;
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

select {
    width: 25%;
    height: 32px;
    margin-top: 8px;
    border-radius: 16px;
}

.media__loading {
    display: flex;
    align-items: center;
    justify-content: center;
}

.avengers__card .media__loading--spinner {
    display: none;
}

.avengers__card .media__loading--spinner {
    display: block;
}

.fa-spinner {
    animation: rotate 600ms infinite linear;
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

.avengers__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.avengers__card {
    background-color: #fff;
    box-shadow: 0 8px 16px rgba(19, 16, 16, 0.628);
    margin: 16px;
    border-radius: 16px;
}

.avengers__card--container {
    padding: 2px 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* FOOTER */

footer {
    background-color: #242424;
}

.footer__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(3) translateY(30px);
    color: #fff;
}

.marvel__logo--footer {
    opacity: 0.1;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: invert();
    transform: scaleX(5) translateY(-10px) translateX(80px) scaleY(1.1);
    transition: all 300ms ease;
}

@media (max-width: 550px) {
    .nav__links {
        display: none;
    }
    .btn__menu {
        display: block;
    }
    .marvel__logo {
        transform: scaleX(3) translateY(-100px) translateX(50px) scaleY(2);
    }
    .marvel__logo--footer {
        transform: scaleX(3) translateY(-10px) translateX(50px) scaleY(1.1);
    }
}