  @import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

nav {
    background-color: #b72c2c;
    color: #fff;
   height: 80px;
   display: flex;
}

.nav__container {
    width: 100%;
    max-width: 1200px;
    padding: 0 24px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    transform: scale(3);
}

ul {
    display: flex;
    list-style-type: none;
}

li {
    list-style-type: none;
}

.nav__link {
    margin-left: 16px;
    padding: 8px;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
}

header {
    background-color: #b72c2c;
    color: #fff;
    padding: 0 12px;
    margin: 0 auto;
}

.header__title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    border-radius: 16px;
    background-color: #fff;
    color: #080808;
    width: 100%;
    max-width: 1000px;
    height: 50px;
}

.input__img {
    transform: translateX(-88px);
    background-color: #fff;
    color: #b72c2c;
}

.marvel__logo {
    width: 100%;
    z-index: -1;
    opacity: 0.1;
    transform: translateY(-180px);
}

.search__results {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

select {
    width: 25%;
    height: 32px;
}

.avengers__media {
    width: auto;
    display: flex;
    flex-wrap: wrap;
}

.avengers__list {
    width: 50%;
    max-width: 1280px;
    display: flex;
    flex-direction: column;
}

.avengers__card {
    background-color: #fff;
    box-shadow: 0 8px 16px rgba(244, 89, 89, 0.321);
    margin: 10px;
    border-radius: 8px;
}

.avengers__card--container {
    padding: 2px 16px;
}